@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/** Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

/** Design tokens */

:root {
  --clr-text: hsl(206, 62%, 5%);
  --clr-background: hsl(200, 60%, 99%);
  --clr-primary: hsl(235, 73%, 73%);
  --clr-accent: hsl(125, 83%, 74%);
  --clr-secondary: hsl(204, 61%, 92%);

  --ff-base: "Nunito", sans-serif; /* body, etc */
  --ff-accent: "Roboto", sans-serif; /* headings */
  --ff-mono: monospace;

  /* TODO: https://utopia.fyi/ */
  --fs-0: 1rem;
  --fs-1: 1rem;
  --fs-2: 1rem;
  --fs-3: 1rem;
  --fs-4: 1rem;
  --fs-5: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: hsl(200, 60%, 99%);
    --clr-background: hsl(206, 62%, 5%);
    --clr-accent: hsl(235, 73%, 73%);
    --clr-primary: hsl(125, 83%, 74%);
    --clr-secondary: hsl(204, 61%, 17%);
  }
}

/** General styling */

body {
  font-size: var(--fs-1);
  font-family: var(--ff-base);
  line-height: 1.6;
  color: var(--clr-text);
  background: var(--clr-background);
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-4);
  color: var(--clr-primary);
}

h2 {
  --flow-space: 1.5em;
  font-size: var(--fs-3);
}

h3 {
  font-size: var(--fs-2);
}

a {
  color: var(--clr-primary);
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

pre {
  border: 4px solid var(--clr-primary);
  overflow-x: scroll;
  padding: 0.6em;
}
pre code {
  font-size: var(--fs-0);
}

.wrapper {
  width: min(100% - 3rem, 50ch);
  margin-inline: auto;
}

/* Add margins inter blocks (top margin on all except first */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/** Custom elements */

.title__container {
  text-align: center;
  display: block;
}

.title__text {
  font-size: var(--fs-5);
  font-weight: 700;
  margin: auto;
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Blinking cursor animation */
.blink span::after {
  content: "";
  border-right: 1px solid black;
  animation: blink 1s linear infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
